body {
    background-color: #0D1B2A; /* Bleu foncé */
    font-family: 'Segoe UI', sans-serif;
    color: #212121;
}

.header {
    background-color: #ffffff;
    color: #0D1B2A;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.header .logo {
    height: 60px;
    margin-right: 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header p {
    margin: 0;
    font-size: 1.2em;
    color: #555;
}

.card {
    background-color: #ffffff; /* Fond blanc pour les cards */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    color: #212121;
}

h2 {
    color: #0D1B2A;
}

input, .stTextInput > div > div > input {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    color: #212121;
    border-radius: 5px;
}

button {
    background-color: #1B263B;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button:hover {
    background-color: #415A77;
}

.footer {
    text-align: center;
    color: #f1f1f1;
    margin-top: 50px;
    padding: 10px;
    font-size: 0.9em;
}
